p{
    background-color: blue;
    text-align:center;
}

    .jk{
        color: red;
        background-color:pink;
        text-align: center;
    }
    .jk1{
        color : rgb(233, 233, 23);
        background-color:rgb(255, 27, 160);
        text-align: center;
    }
    .jk2{
        display:inline-block;
        height: 300px;
        color: rgb(139, 10, 74);
        background-color: yellow;
        text-align:center ;
        font-size: 30px;
        text-align: center;
        margin: 8px;
        width: 200px;
    }
    .jk3{
        margin: 25px;
        display:inline-block;
        height: 300px;
        width: 200px;
        text-align: center;
        color: brown;
        text-align: center;
        background-color: rgb(90, 163, 200);
        font-size: 25px;
        
    }
    .jk4{
        
    margin: 25px;
    display:inline-block;
        height: 300px;
        width: 200px;
        text-align: center;
        color: brown;
        text-align: center;
        background-color: rgb(200, 90, 167);
        font-size: 30px;
    }
    .box{
        display:inline-block;
        border: 2px black solid; 
        
    }